body{
    background-color:  rgb(62, 31, 200);
}

.title{
    text-align: center;
    color: yellow;
}
.parag{
    color: white;
    text-align:center                            ;
}    

span{
    color: green;
}

img {
    border: 5px solid yellow;
}




